/*PRESTATIONS*/

.prestations {
  height: 100vh; /* Ajuste la hauteur en fonction du contenu */
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorv2);
}

.prestation_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.prestation__partie-haute {
  margin-left: 4rem;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Sépare les éléments : titre à gauche, bouton à droite */
  gap: 1rem; /* Ajoute un espace entre les éléments */
}

.prestation__textes {
  display: flex;
  flex-direction: column;
}

.prestation__textes h3 {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.prestation__textes h4 {
  display: flex;
  font-size: 1.25rem;
}

.prestation__partie-haute button {
  padding: 1.2rem;
  margin-right: 4rem;
  word-spacing: 0.1rem;
}

.prestation__partie-basse {
  height: 80%;
  width: 100%;
  background-image: url("../../Images/Images/discussion.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  ov
}

.prestation_détail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  width: 90%;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.prestation_détail-card {
  position: relative;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.prestation_détail-card::before {
  content: attr(data-number);
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 4rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.prestation_détail-card img {
  width: 50px;
  height: auto;
  margin-bottom: 1rem;
}

.prestation_détail-card h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

.prestation_détail-card p {
  font-size: 1rem;
  color: grey;
}

.prestation_détail-card:not(:last-child) {
  border-right: 1px solid #ddd;
}
