.tuto_container {
  height: 100vh;
  width: 100vw;
  background-color: var(--colorv7);
}

.tuto__partie-haute {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.tuto__partie-haute h2 {
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: var(--colorv3);
}

.tuto__partie-haute h3 {
  margin-top: 2rem;
}

.tuto__partie-basse {
  height: 70%;
  width: 90%;
  margin: auto;
  background-color: var(--colorv7);
}

.tuto__card-container {
  background-color: rgba(255, 255, 255, 0.9);
  width: 95%;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.tuto__card-container1 {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}
.tuto__card-container2 {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}
.tuto__card {
  position: relative;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* aligne le contenu à gauche */
  margin: 1rem;
  padding: 1rem 1rem 1rem 60px; /* espace à gauche pour l'image */
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd; /* délimitation visuelle */
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.tuto__card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.tuto__card img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: auto;
}

.tuto__card h4 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.tuto__card p {
  font-size: 0.75rem;
}

/* La pseudo-élément reste inchangé pour afficher data-number */
.tuto__card::before {
  content: attr(data-number);
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 4rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.1);
  z-index: -1;
}
