.footerPage {
  height: 100vh;
  width: 100vw;
}

.formulaire {
  height: 70%;
  background-color: var(--colorv9);
  display: flex;
}

.formulaire__gauche {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulaire__gauche h3 {
  margin-top: 10%;
  margin-bottom: 5%;
  color: var(--text-color2);
}

.formulaire__gauche ul li {
  margin-top: 20%;
  margin-bottom: 20%;
  color: var(--text-color2);
}

.formulaire__droite {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: var(--text-color2);
}

.formulaire__champs {
  height: 70%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centre tous les éléments horizontalement */
  text-align: center;
  margin: auto;
  background-color: var(--colorv11);
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
}

.formulaire__champs h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.formulaire__champs p {
  margin-bottom: 1rem;
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
}

.enteteFormulaire {
  width: 100%;
  text-align: center;
}

.formulaire__bouton {
  border-radius: 10rem;
  font-weight: bold;
  color: var(--text-color2);
  border: none;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out, transform 0.3s ease-in-out;
  font-size: 1rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 0.6rem;
}

.formulaire__bouton:hover {
  transform: scale(1.2);
  background-color: var(--colorv1);
}

.listeChamp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  border-radius: 0.3rem;
  color: var(--text-color2);
}

.listeChamp input,
.formulaire__bouton {
  height: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--colorv1);
  color: var(--text-color2);
  border: none;
}

.boutonFormulaire {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0.75rem;
  padding: 0.45rem;
}

.formulaire__bouton {
  grid-column: span 2;
}

.listeChamp input:nth-child(1),
.listeChamp input:nth-child(2) {
  grid-column: span 1;
}

.listeChamp input:nth-child(3) {
  grid-column: span 2;
}

.listeChamp input:nth-child(4),
.listeChamp input:nth-child(5) {
  grid-column: span 1;
}

.listeChamp input:nth-child(6) {
  grid-column: span 2;
}

.listeChamp input:nth-child(7) {
  grid-column: span 2;
}

.listeChamp textarea {
  grid-column: span 2;
  width: 100%;
  padding: 0.5rem;
  height: 3.5rem;
  background-color: var(--colorv1);
  border-radius: 0.5rem;
  border: none;
}

.contact {
  height: 30%;
  background: linear-gradient(
    45deg,
    var(--colorv4) 0%,
    var(--colorv4) 20%,
    var(--colorv5) 60%,
    var(--colorv6) 100%
  );
}

.choixContact {
  display: flex;
  flex-direction: column;
}

.choixContact1,
.choixContact2,
.choixContact3 {
  display: flex;
}

.choixContact1 img,
.choixContact2 img,
.choixContact3 img {
  height: 1rem;
  width: 1rem;
  color: var(--colorv1);
  margin-right: 1rem;
}

/* Navigateurs modernes */
input::placeholder,
textarea::placeholder {
  color: var(--text-color2);
}

/*CONTACT*/
.contact {
  display: flex;
}

.contact__logo {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.contact__logo img {
  margin-bottom: 1.5rem;
}

.contact__info {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.contact__info1,
.contact__info2,
.contact__info3 {
  width: 27.5%;
}

.contact__info1 h4,
.contact__info2 h4,
.contact__info3 h4 {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.contact__info-li {
  font-weight: light;
  font-style: light;
  font-size: 0.8rem;
  color: gray;
  margin-bottom: 0.45rem;
}
